# Operators in Python

1. Arithmatic Operators
2. Assignment Operators
3. Comparision Operators
4. Logical Operator
5. Membership Operatos
6. Identity Operator

### Arithmatic Operators

* `+`: plus Operator
* `-`: minus Operator
* `/`: divide Operator
* `*`: multiply Operator
* `%`: modulus Operator

These arithmatic operators works similar to the math operation in python exception operator overloading.

Note: all arithmatic operators works well with numbers. but with other kind of data type all of them may not work, like adding list.

#### `+` plus Operator with integer and float data type

In [3]:
a = 10
b = 20 
c = 3.4
# we are taking 2 integers and 1 float value to add them.

In [4]:
a + b

30

In [5]:
a + c

13.4

**`+` plus operator with lists**

In this case we will use the `+` plus operator to extend the list.

In [6]:
# Now we will create two list.
list1= [1,2,3]
list2 = [4,5,6]

In [7]:
list1 + list2

[1, 2, 3, 4, 5, 6]

In [8]:
list1

[1, 2, 3]

In [9]:
list2

[4, 5, 6]

`Note:` As we can see that in the above operaton we have got an extended list in which we have element form both list in given order.

`Note:` list1 and list2 are not updated, it means they are just taking part in the operation to return a new list object.

`Operator Overloading` This type of behavior is called operator overloading in which an 
operator functionality changes with different kind of data types.
_____

#### `-` minus operator with integers and float

In [10]:
# creating two integers and one float
a = 10
b = 20 
c =4.3

In [11]:
a - b

-10

In [13]:
b - a

10

In [14]:
c -b

-15.7

Now if want to check that our `-` minus operators works with lists.

#### `-` minus operator with lists

As we have seen that `+` plus operator returns an extended version of the l_list and r_list.

In [15]:
list1 = [1,2,3]
list2 = [4,5,6]

In [16]:
# now we will minus (subtract) our list1 with list2
list1 - list2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [17]:
list2 - list1

TypeError: unsupported operand type(s) for -: 'list' and 'list'

`Note:` form the above error we can see that there is no such operation list class. so we can't subtract one list from other, unless we override the list class and define the `-` operator functionality.

#### `*` multipy operator with integers and float

we can perform the simple multiplication on the integer and float values as we have done with the `+` and `-` operator.

In [19]:
# making three variable two integers and one float
a = 10
b = 20
c = 5.6

In [20]:
a * b

200

In [21]:
b * c

112.0

#### `*` multiply operator with string and integer.

When we apply the multiplication operator on the string with an integer, it will concate the string to itself with n number of times.

In [22]:
name = "Manish Kumar"

In [23]:
name * 10

'Manish KumarManish KumarManish KumarManish KumarManish KumarManish KumarManish KumarManish KumarManish KumarManish Kumar'

#### `*` multiply operator with string to string

In [24]:
your_name = "Asif khan"

In [25]:
name * your_name

TypeError: can't multiply sequence by non-int of type 'str'

`Note:` From the above notes we can see that, mulitpication can't performed on string to string.

In [26]:
input("Who are you: ")

Who are you:  manish Kumar

'manish Kumar'