## Dictionary

In [1]:
mydict = {"name":"manish"}

In [2]:
mydict

{'name': 'manish'}

In [3]:
student = {"name":"manish", "age": 21, "height": 5.6, "bloodGroup": "O-"}

In [4]:
student

{'name': 'manish', 'age': 21, 'height': 5.6, 'bloodGroup': 'O-'}

In [7]:
student["age"]
# we can't use . member operator to access the value by using key.

21

In [8]:
student['age']

21

In [9]:
student['weight']

KeyError: 'weight'

In [14]:
student.get("id", None)

clear(...)
       D.clear() -> None.  Remove all items from D.

   copy(...)
       D.copy() -> a shallow copy of D


   get(self, key, default=None, /)
       Return the value for key if key is in the dictionary, else default.


   items(...)
       D.items() -> a set-like object providing a view on D's items


   keys(...)
       D.keys() -> a set-like object providing a view on D's keys
   
   pop(...)
       D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
       
       If the key is not found, return the default if given; otherwise,
       raise a KeyError.
   
   popitem(self, /)
       Remove and return a (key, value) pair as a 2-tuple.
       
       Pairs are returned in LIFO (last-in, first-out) order.
       Raises KeyError if the dict is empty.


   setdefault(self, key, default=None, /)
       Insert key with a value of default if key is not in the dictionary.
       
       Return the value for key if key is in the dictionary, else default.


   update(...)
       D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
       If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
       If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
       In either case, this is followed by: for k in F:  D[k] = F[k]


   values(...)
       D.values() -> an object providing a view on D's values

In [18]:
st = student.copy()

In [20]:
st.clear()

In [21]:
st

{}

In [23]:
student

{'name': 'manish', 'age': 21, 'height': 5.6, 'bloodGroup': 'O-'}

**dictionary keys, items, values**

In [24]:
student.keys()

dict_keys(['name', 'age', 'height', 'bloodGroup'])

In [25]:
student.values()

dict_values(['manish', 21, 5.6, 'O-'])

In [27]:
type(student.values())

dict_values

In [29]:
student.items()

dict_items([('name', 'manish'), ('age', 21), ('height', 5.6), ('bloodGroup', 'O-')])

In [30]:
for key in student.keys():
    print(key)

name
age
height
bloodGroup

In [31]:
for value in student.values():
    print(value)

manish
21
5.6
O-

In [32]:
for key, value in student.items():
    print(f"{key} ===> {value}")

name ===> manish
age ===> 21
height ===> 5.6
bloodGroup ===> O-

In [34]:
values = ("manish",21, 5.6, "O-")

In [35]:
values

('manish', 21, 5.6, 'O-')

In [38]:
one, *rem = values

In [39]:
rem

[21, 5.6, 'O-']

In [40]:
one

'manish'

In [42]:
student

{'name': 'manish', 'age': 21, 'height': 5.6, 'bloodGroup': 'O-'}

In [43]:
student.pop("height")

5.6

In [44]:
student

{'name': 'manish', 'age': 21, 'bloodGroup': 'O-'}

In [45]:
student.popitem()

('bloodGroup', 'O-')

In [46]:
student

{'name': 'manish', 'age': 21}

In [47]:
student.update(age=22, height=5.6, bloodGroup = "O-")

In [48]:
student

{'name': 'manish', 'age': 22, 'height': 5.6, 'bloodGroup': 'O-'}

In [49]:
assif = {"name":"aasif","age": 20, 'height': 5.6, "bloodGroup": "AB+"}
chandan = {"name":"chandan","age": 19, 'height': 5.5, "bloodGroup": "A+"}

In [50]:
Students= {"asif": assif, "chandan": chandan }

In [52]:
Students

{'asif': {'name': 'aasif', 'age': 20, 'height': 5.6, 'bloodGroup': 'AB+'},
 'chandan': {'name': 'chandan', 'age': 19, 'height': 5.5, 'bloodGroup': 'A+'}}

In [54]:
assif.update(age= 21)

In [55]:
Students

{'asif': {'name': 'aasif', 'age': 21, 'height': 5.6, 'bloodGroup': 'AB+'},
 'chandan': {'name': 'chandan', 'age': 19, 'height': 5.5, 'bloodGroup': 'A+'}}