# Introduction To Python

Data Type is in Python

1. int: integer
2. str: string
3. bool: boolean
4. float: float

Data Structure in Python

1. list: Array type list. In list we can store mulitple data types. it works similar to array. it is a mutable data structure. (can store duplicate values)

2. tuple: it similar to list, but immutable data structure. (can store duplicate values.)

3. set: similar to list, but we can't have duplicate values, immutable.

4. dict: in this we store the data in key:value pairs. in this each key is hashed to a unique hashCode in a hash table.

## List

### Creating a list

To create a list follow the syntax:

```python
# first make a variable 
a = [1,2,3,4,5]
# now assing some values inside square bracket
```

In [48]:
mylist = [1,2,3,4,5]

**Accessing Elemeent form List**

To access an element from list we use subscript method. in this we use square bracket `[]` after the list reference varaible name. in our case `mylist` is the reference variable name for our list.

So to access the element placed at index number 1.

```python
mylist[1]; 
# this will return the value stored at 1th index number inside the mylist.
```

In [49]:
# inspecting/repesenting our list
mylist

[1, 2, 3, 4, 5]

In [50]:
# accessing an element placed at 1th index number.
mylist[1]

2

**Getting the length of list**

if we want to know the length of list, we can use `len()` in buit function of python.

In [69]:
# getting the length of mylist 'list'
len(mylist)

8

**Assigning or Replacing an element**

To change an element or replace its value first we should know the index number of that value.

Note: if we don't know the index number of an elmeent then we can find the index number of that element by using the `list.index()` method.

In [51]:
mylist.index(4)

3

Now we know that our number `4` is placed at index number `3`. so to replace or assinging a new value at the place of index number `3`.

syntax:
```python
mylist[index] = new_value
```

In [52]:
mylist[3] = "bye bye"

In [53]:
mylist

[1, 2, 3, 'bye bye', 5]

### Removing element

1. pop() method, removes element by index number.
    `pop()` mehtod is 
2. remove() method, removes element by it' value.

In [54]:
mylist.pop(3)

'bye bye'

In [55]:
mylist

[1, 2, 3, 5]

In [56]:
mylist[3] = "hello"

In [57]:
mylist

[1, 2, 3, 'hello']

In [58]:
# removing elemet by uisng the remove method.
mylist.remove("hello")

In [59]:
mylist

[1, 2, 3]

### append method

This method is used to add values inside list ,it adds the value at last position and increases the length of list.

In [60]:
mylist.append(10)

In [61]:
mylist

[1, 2, 3, 10]

**inserting a value at a given index number by using insert method**

### Insert method

In [63]:
help(list.insert)

Help on method_descriptor:

insert(self, index, object, /)
    Insert object before index.

In [64]:
mylist

[1, 2, 3, 10]

In [65]:
mylist.append("Helli")
mylist.append("kello")
mylist.append("Jello")

In [66]:
mylist

[1, 2, 3, 10, 'Helli', 'kello', 'Jello']

`Note:` Now we want to add something else before 'Helli', in this case we will use `insert()` method, it takes two parameters, `'index'` and another is `'object'`.

In [67]:
mylist.insert(4, "yellow")

In [68]:
mylist

[1, 2, 3, 10, 'yellow', 'Helli', 'kello', 'Jello']

In [70]:
len(mylist)

8

### extent method

In [71]:
help(list.extend)

Help on method_descriptor:

extend(self, iterable, /)
    Extend list by appending elements from the iterable.

`iterable:` a sequence which is countable, non hashable, we can access element one by one after another.

**using append method on to add another list.**

In [72]:
yourlist = ['Aasif', "Chandan", "Aasish"]

In [73]:
mylist

[1, 2, 3, 10, 'yellow', 'Helli', 'kello', 'Jello']

In [74]:
# Now put yourlist  into mylist using append method.
mylist.append(yourlist)

In [75]:
mylist

[1,
 2,
 3,
 10,
 'yellow',
 'Helli',
 'kello',
 'Jello',
 ['Aasif', 'Chandan', 'Aasish']]

In [76]:
# checking the lenght of list
len(mylist)

9

In [77]:
# Acessing the last element
mylist[8]

['Aasif', 'Chandan', 'Aasish']

`Conclusion:` append method insert/add the object as it is. if any iterable given then it will not put each individual element form that iterable, it will put that iterable as it is, as a single value.

Now if we want to add an iterable object value in to our list as individual element we will use `extend()` method.

**extend method**

In [78]:
mylist

[1,
 2,
 3,
 10,
 'yellow',
 'Helli',
 'kello',
 'Jello',
 ['Aasif', 'Chandan', 'Aasish']]

In [79]:
yourlist

['Aasif', 'Chandan', 'Aasish']

In [80]:
anotherList = ["Hello", "Jello", "Kello"]

In [81]:
# Now we will extend 'yourlist' by 'anotherlist'
yourlist.extend(anotherList)

In [82]:
yourlist

['Aasif', 'Chandan', 'Aasish', 'Hello', 'Jello', 'Kello']

In [83]:
len(yourlist)

6

In [ ]:
list.