# Operators in Python

1. Arithmatic Operators
2. Assignment Operators
3. Comparision Operators
4. Logical Operator
5. Membership Operatos
6. Identity Operator
7. Bitwise Operator
8. Ternary Operator

### Arithmatic Operators

* `+`: plus Operator
* `-`: minus Operator
* `/`: divide Operator
* `*`: multiply Operator
* `%`: modulus Operator

These arithmatic operators works similar to the math operation in python exception operator overloading.

Note: all arithmatic operators works well with numbers. but with other kind of data type all of them may not work, like adding list.

#### `+` plus Operator with integer and float data type

In [3]:
a = 10
b = 20 
c = 3.4
# we are taking 2 integers and 1 float value to add them.

In [4]:
a + b

30

In [5]:
a + c

13.4

**`+` plus operator with lists**

In this case we will use the `+` plus operator to extend the list.

In [6]:
# Now we will create two list.
list1= [1,2,3]
list2 = [4,5,6]

In [7]:
list1 + list2

[1, 2, 3, 4, 5, 6]

In [8]:
list1

[1, 2, 3]

In [9]:
list2

[4, 5, 6]

`Note:` As we can see that in the above operaton we have got an extended list in which we have element form both list in given order.

`Note:` list1 and list2 are not updated, it means they are just taking part in the operation to return a new list object.

`Operator Overloading` This type of behavior is called operator overloading in which an 
operator functionality changes with different kind of data types.
_____

#### `-` minus operator with integers and float

In [10]:
# creating two integers and one float
a = 10
b = 20 
c =4.3

In [11]:
a - b

-10

In [13]:
b - a

10

In [14]:
c -b

-15.7

Now if want to check that our `-` minus operators works with lists.

#### `-` minus operator with lists

As we have seen that `+` plus operator returns an extended version of the l_list and r_list.

In [15]:
list1 = [1,2,3]
list2 = [4,5,6]

In [16]:
# now we will minus (subtract) our list1 with list2
list1 - list2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [17]:
list2 - list1

TypeError: unsupported operand type(s) for -: 'list' and 'list'

`Note:` form the above error we can see that there is no such operation list class. so we can't subtract one list from other, unless we override the list class and define the `-` operator functionality.

#### `*` multipy operator with integers and float

we can perform the simple multiplication on the integer and float values as we have done with the `+` and `-` operator.

In [19]:
# making three variable two integers and one float
a = 10
b = 20
c = 5.6

In [20]:
a * b

200

In [21]:
b * c

112.0

#### `*` multiply operator with string and integer.

When we apply the multiplication operator on the string with an integer, it will concate the string to itself with n number of times.

In [22]:
name = "Manish Kumar"

In [23]:
name * 10

'Manish KumarManish KumarManish KumarManish KumarManish KumarManish KumarManish KumarManish KumarManish KumarManish Kumar'

#### `*` multiply operator with string to string

In [24]:
your_name = "Asif khan"

In [25]:
name * your_name

TypeError: can't multiply sequence by non-int of type 'str'

`Note:` From the above notes we can see that, mulitpication can't performed on string to string.

______

#### `%` Modulus Operator

if we have `numerator` and `denominator`, then after division if `denominator` not divide the `numerator` 
completely then it will give us the remainder.

`%` modulus -> `numerator` / `denominator` --> `reminder`.

In [1]:
# Now we will have some values to show the % modulus operator operation.
a = 10
b = 20
c = 3

In [3]:
# if we divide the a/c it will give us the floated values (floating number.)
a/c

3.3333333333333335

In [4]:
# and if we use the % modulus operator then it will give us the remainder.
a%c

1

`Note:` if above case a is '10' and and c is '3', 3 can divide 10 by 3 times completely, after that we have 1 as remainder so, modulus operator will give us the remainder value.
____

## Assignment Operators

Assignment Operators are used to assign the `r_Value` to an `l_Operand`, we have most used assignment operators which is `=`.

1. `=` Assignment Operator.
2. `+=` Plus and Assignment operator.
3. `-=` Minus and Assignment operator.
4. `*=` Multiply and Assignment operator.
5. `/=` Divide and Assignment operator.
6. `%=` Modulus and Assignment operator.

`Note:` we will use these operators whenever we need to update the value of `l_Operand`.

Operators `+=`, `-=`, `/=`, `*=`, `%=` are used in same way as showing the syntax of `+=` operator to use.

Syntax:
```python
var += 10 # ---> var = var + 10
```

Suppose tahat we have two values `a` and `b`.

In [6]:
a = 15
b = 23

Now we will perform simple adding operation first. then we will see the difference between the simple adding and the `+=` plus and assign operation.

In [7]:
# adding a and b
a + b

38

In [8]:
# inspecting the value of a and b after performing the operation a + b.
print("a after above operation: ", a)
print("b after above operation: ", b)

a after above operation:  15
b after above operation:  23

`Note:` Now if we want to store the result value inside `a` or `b`,  or we want to update any variable in that case we have situation that first values is the variable itself which is going to be updated. for example.
```python
var = var + other_value

# this above expression can be written as 
var += other_value
```

In [9]:
# if our a is 15 and we want ot update its value to 25 by adding 10 to its value.
a += 10
print("value of a after update: ", a)

value of a after update:  25