# Operators in Python

1. Arithmatic Operators
2. Assignment Operators
3. Comparision Operators
4. Logical Operator
5. Membership Operatos
6. Identity Operator
7. Bitwise Operator
8. Ternary Operator

### Arithmatic Operators

* `+`: plus Operator
* `-`: minus Operator
* `/`: divide Operator
* `*`: multiply Operator
* `%`: modulus Operator

These arithmatic operators works similar to the math operation in python exception operator overloading.

Note: all arithmatic operators works well with numbers. but with other kind of data type all of them may not work, like adding list.

#### `+` plus Operator with integer and float data type

In [3]:
a = 10
b = 20 
c = 3.4
# we are taking 2 integers and 1 float value to add them.

In [4]:
a + b

30

In [5]:
a + c

13.4

**`+` plus operator with lists**

In this case we will use the `+` plus operator to extend the list.

In [6]:
# Now we will create two list.
list1= [1,2,3]
list2 = [4,5,6]

In [7]:
list1 + list2

[1, 2, 3, 4, 5, 6]

In [8]:
list1

[1, 2, 3]

In [9]:
list2

[4, 5, 6]

`Note:` As we can see that in the above operaton we have got an extended list in which we have element form both list in given order.

`Note:` list1 and list2 are not updated, it means they are just taking part in the operation to return a new list object.

`Operator Overloading` This type of behavior is called operator overloading in which an 
operator functionality changes with different kind of data types.
_____

#### `-` minus operator with integers and float

In [10]:
# creating two integers and one float
a = 10
b = 20 
c =4.3

In [11]:
a - b

-10

In [13]:
b - a

10

In [14]:
c -b

-15.7

Now if want to check that our `-` minus operators works with lists.

#### `-` minus operator with lists

As we have seen that `+` plus operator returns an extended version of the l_list and r_list.

In [15]:
list1 = [1,2,3]
list2 = [4,5,6]

In [16]:
# now we will minus (subtract) our list1 with list2
list1 - list2

TypeError: unsupported operand type(s) for -: 'list' and 'list'

In [17]:
list2 - list1

TypeError: unsupported operand type(s) for -: 'list' and 'list'

`Note:` form the above error we can see that there is no such operation list class. so we can't subtract one list from other, unless we override the list class and define the `-` operator functionality.

#### `*` multipy operator with integers and float

we can perform the simple multiplication on the integer and float values as we have done with the `+` and `-` operator.

In [19]:
# making three variable two integers and one float
a = 10
b = 20
c = 5.6

In [20]:
a * b

200

In [21]:
b * c

112.0

#### `*` multiply operator with string and integer.

When we apply the multiplication operator on the string with an integer, it will concate the string to itself with n number of times.

In [22]:
name = "Manish Kumar"

In [23]:
name * 10

'Manish KumarManish KumarManish KumarManish KumarManish KumarManish KumarManish KumarManish KumarManish KumarManish Kumar'

#### `*` multiply operator with string to string

In [24]:
your_name = "Asif khan"

In [25]:
name * your_name

TypeError: can't multiply sequence by non-int of type 'str'

`Note:` From the above notes we can see that, mulitpication can't performed on string to string.

______

#### `%` Modulus Operator

if we have `numerator` and `denominator`, then after division if `denominator` not divide the `numerator` 
completely then it will give us the remainder.

`%` modulus -> `numerator` / `denominator` --> `reminder`.

In [1]:
# Now we will have some values to show the % modulus operator operation.
a = 10
b = 20
c = 3

In [3]:
# if we divide the a/c it will give us the floated values (floating number.)
a/c

3.3333333333333335

In [4]:
# and if we use the % modulus operator then it will give us the remainder.
a%c

1

`Note:` if above case a is '10' and and c is '3', 3 can divide 10 by 3 times completely, after that we have 1 as remainder so, modulus operator will give us the remainder value.
____

## Assignment Operators

Assignment Operators are used to assign the `r_Value` to an `l_Operand`, we have most used assignment operators which is `=`.

1. `=` Assignment Operator.
2. `+=` Plus and Assignment operator.
3. `-=` Minus and Assignment operator.
4. `*=` Multiply and Assignment operator.
5. `/=` Divide and Assignment operator.
6. `%=` Modulus and Assignment operator.

`Note:` we will use these operators whenever we need to update the value of `l_Operand`.

Operators `+=`, `-=`, `/=`, `*=`, `%=` are used in same way as showing the syntax of `+=` operator to use.

Syntax:
```python
var += 10 # ---> var = var + 10
```

Suppose tahat we have two values `a` and `b`.

In [6]:
a = 15
b = 23

Now we will perform simple adding operation first. then we will see the difference between the simple adding and the `+=` plus and assign operation.

In [7]:
# adding a and b
a + b

38

In [8]:
# inspecting the value of a and b after performing the operation a + b.
print("a after above operation: ", a)
print("b after above operation: ", b)

a after above operation:  15
b after above operation:  23

`Note:` Now if we want to store the result value inside `a` or `b`,  or we want to update any variable in that case we have situation that first values is the variable itself which is going to be updated. for example.
```python
var = var + other_value

# this above expression can be written as 
var += other_value
```

In [9]:
# if our a is 15 and we want ot update its value to 25 by adding 10 to its value.
a += 10
print("value of a after update: ", a)

value of a after update:  25

## Comparison Operator 

1. `<` : less than operator
2. `>` : greater than operator
3. `<=`: less than or equal operator
4. `>=`: greater than or equal operator
5. `==`: equal / equality operator.
6. `!=`: not equal operator

#### Comparison Operator with numbers.

if we work with numbers comparison operators works like math operators. all comparison operators are binary operators, because they works with two values. `r_value`, and `l_value`.



```python
    `r_value` "Operator" `l_value`
```
Note: if we have two values a and b, if we compare `a<b` or we compare `b>a` both will make same result, so we need to be careful when we use comparison operators.

In [1]:
a = 10
b = 20

In [3]:
a > b # according to this notation a must be greater than b, if we want to true as result.

False

In [4]:
b > a

True

**Comparison with `<=` and `>=` expression**

In this case if we use `<=` then it will check two things: \
    1. l_value is less than r_value. or\
    2. l_value is equal to r_value.

if we use `>=` then it will check two things: \
    1. l_value is greater than r_value. or\
    2. l_value is equal to r_value.

if we have one of them true then we will get the `true` as result.

In [5]:
a = 10
b = 20
c = 10

In [7]:
print("is a less than b or equal to b : ", a <= b)

is a less than b or equal to b :  True

In [8]:
print("is a less than c or equal to c : ", a <=c)

is a less than c or equal to c :  True

**Equality and not Equality operator**

`==`: Equality Operator will test that l_value and r_value both have same value.

`!=`: Not Equal operator will test that l_value and r_value both have different value.

In [10]:
a = 10
b = 20
c = 10

In [14]:
# comparing a and b with equal operator.
print("is a equal to b: ", a == b)

is a equal to b:  False

In [15]:
# comparing a and c with equal operator.
print("is a equal to c: ", a == c)

is a equal to c:  True

In [16]:
# comparing a and b with not equal operator.
print("is a not equal to b:", a != b)

is a not equal to b: True

In [17]:
# comparing a and b with not equal operator.
print("is a not equal to c:", a != c)

is a not equal to c: False

### Logical Operator

Only works on boolean values. `True` and `False`

`l_value` Operator `r_value`

1. `&&`/`and`  AND Operator :-> need both values true.
2. `||`/`or` OR Operator
3. `!`/`not` NOT Operator

**and operator**

1. `True` and `True`  ----> `True`
2. `True` and `False`  ----> `False`
3. `False` and `True`  ----> `False`
4. `False` and `False`  ----> `False`


**or operator**

1. `True` or `True`  ----> `True`
2. `True` or `False`  ----> `True`
3. `False` or `True`  ----> `True`
4. `False` or `False`  ----> `False`


**not operator**

1. not `True` ----> `False`
2. not `False` ----> `True`

In [3]:
a = 10
b = 20
c = 10

In [5]:
a < b and c > a

False

since a is less then b but c is not greater than a

True and False ----> False

In [6]:
a < b or c > a

True

since a is less then b but c is not greater than a

True or False ----> True

In [8]:
not a < b # not True  --> False

False

### Membership Operators
it test that a value of object exist in another object.

1. `in` : in Operator
2. `not in`: not in Operator

### Identity Operators

It test that object a is same as the object b. they points on the same data.

1. `is` : identity operator
2. `is not`: identity operator

**membership operators**

In [9]:
a = [1, 2, 3, 4]

# testing the 4 is a member of list a.
print("is number 4, is member of list a: ", 4 in a)

is number 4, is member of list a:  True

In [11]:
print("is number 10, is member of list a: ", 10 in a)
print("is number 10, is not member of list a: ", 10 not in a)

is number 10, is member of list a:  False
is number 10, is not member of list a:  True

**is Operator**

In [12]:
# to test the is operator first we will create two new list, with different data.
# since both list will be different so they are surely  different object 
# from viewing perspective
a  = ["Hello", "Jello", "kello"]
b = ["aasif", "chandan", "aasish"]

# but now we are making another list same as the list a.
c  = ["Hello", "Jello", "kello"]

# Now we may think that object a and object c are identical object.

In [14]:
print("Test1: object a is identical to object b ->", a is b)
print("Test1: object a is identical to object c ->", a is c)
print("Test1: object b is identical to object c ->", b is c)

Test1: object a is identical to object b -> False
Test1: object a is identical to object c -> False
Test1: object b is identical to object c -> False

Note: as we can see that we have created list a and list b with same data. but after making them equal they are not identical. because in memory they are both different object, they may have same data but on different locations.

Note: if we test a == c, then it will give us True,

In [17]:
a == c

True

In [19]:
d = a
# Now we have assigned list a to d.

In [20]:
# inspecting the list d.
d

['Hello', 'Jello', 'kello']

In [21]:
d.append("yellow")

we have added a new value to the list d, now inspecting the new updated list.

In [22]:
d

['Hello', 'Jello', 'kello', 'yellow']

In [23]:
# now we will also inspect the list a
a

['Hello', 'Jello', 'kello', 'yellow']

As we see that we added a new data on the list d, but we can see the changes on the list a as well, those reflection comes from the identity.

Note: whenever we assign an object to a variable then it will not copy the data, it will share the reference of the object to new variable. so, behind the scenes, actually we are working on the same object but with different variables.

In [24]:
print("is a and and d are identical object: ", a is d)

is a and and d are identical object:  True